@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*------------------------- Variables -----------------------*/
:root {
--green-color: #7ACC2D;
--white-color: white;
--black-color: #313337;

/* espaciado */
--normal: 12px;

/* espaciado */
--space: 10px;

/* box shadow*/
--box: 0px 3px 6px #00000029;;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

/* ------------------- Header Section -----------------*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* ------------------- Main Section -----------------*/

.main_section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url('../images/curve.png');
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product{
    padding: var(--space);
    margin-top: -240px;
}

.product .content {
    background-color:var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
}

.image_content {
    text-align: center;
}

.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #599e22;
    cursor: pointer;    
}


.benefitions {
    display: flex;
    flex-wrap: center;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.benefition {
    max-width: 200px;
    margin: 20px 50px;
    padding: var(--space);
    border-collapse: collapse;
    text-align: justify;
}

.benefition h3 {
    margin: var(--space);
}
.benefition_image {
    text-align: center;
    margin-bottom: var(--space);
}

.benefition_image img {
    max-width: 160px;
}

.mentions {
    box-shadow: var(--box);
    text-align: center;
    padding: 60px 10%;
    border-top: 1px solid #ededed
}

.mentions h1 {
    padding-bottom: 30px;
    margin: 0px;
}


.mention_list {
    background-color: var(--white-color);
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.mention {
    max-width: 240px;
    box-shadow: var(--box);
    border-radius: 2px;
    overflow: hidden;
}

.mention_detail {
    padding: var(--space);
    padding-top: 5px;
    text-align: justify;
}

.mention_detail h3 {
    margin: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0 var(--space);
    height: 60px;
}