@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*------------------------- Variables -----------------------*/
:root {
--green-color: #7ACC2D;
--white-color: white;
--black-color: #313337;

/* espaciado */
--normal: 12px;

/* espaciado */
--space: 10px;

/* box shadow*/
--box: 0px 3px 6px #00000029;;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

/* ------------------- Header Section -----------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space);
    min-height: 60px;
    background-color: var(--green-color);
    color: var(--white-color);
}

nav ul {
    display: flex;
}

nav ul li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* ------------------- Main Section -----------------*/

.main_section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url('../images/curve.png');
    padding: 15%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 95px;
    background-size: cover;
}

.product{
    padding: 20px;
    margin-top: -226px;
}

.content-product {
    padding: 20px;
    background-color:var(--white-color);
    border-radius: 3px;
    box-shadow: var(--box);
}

.image-product {
    text-align: center;
}

.main_button {
    padding: var(--space);
    background-color: var(--green-color);
    width: 100%;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white-color);
    font-size: var(--normal);
}

.main_button:hover {
    background-color: #599e22;
}


.benefitions {
    padding: 10%;
    display: flex;
}

.benefition {
    text-align: center;
    padding: 20px;
}

.content-benefition img {
    max-height: 100px;
}

.text-benefition {
    text-align: justify;
}

hr {
    border: 1px solid #ededed
}

.title-mention {
    text-align: center;
}

.mentions {
    display: flex;
    padding: 5%;
}

.mention {
    max-width: 240px;
    box-shadow: var(--box);
    border-radius: 2px;
    overflow: hidden;
    margin: 0 var(--space);
}

.mention img {
    width: 100%;
}

.detail-mention {
    padding: var(--space);
    padding-top: 5px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    padding: 0 var(--space);
    color: var(--white-color);
    max-height: 60px;
}