html, body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #7ACC2D;
    padding: 10px;
    color: white;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li{
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: gray;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}