@media (max-width: 600px) {

    .main_section {
        padding: 4%;
    }

    .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }

    .benefitions{
        display: inherit;
    }

    .content-benefition {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .mentions{
        display: inherit;
    }

    .mention {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 20px;
    }
}